.btn {
  padding: 0.5rem 2rem;
  font-size: 1.1rem;
  background-color: #fb3e3e;
  border: none;
  text-transform: capitalize;
  color: #fff;
  border-radius: 5px;
  transition: all 0.3s ease-out;
}

.btn:hover {
  transform: translateY(-5px);
}

.btn:active {
  transform: translateY(-3px);
}

.white {
  background-color: #fff;
  color: #444;
  font-size: 1rem;
}

.curved {
  border-radius: 200px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.btn i {
  font-size: 10px;
  margin-left: 3px;
}
