$bp-900: 56.25em;
$bp-650: 40.625em;
$bp-480: 30em;

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  padding: 0 10px;

  @media only screen and (min-width: $bp-480) {
    width: 420px;
    padding: 0 0;
  }

  @media only screen and (min-width: $bp-650) {
    width: 600px;
  }

  @media only screen and (min-width: $bp-900) {
    width: 750px;
  }
}

.heading {
  color: #fff;
  text-transform: capitalize;
  //   30px
  font-size: 1.875rem;

  @media only screen and (min-width: $bp-480) {
    //   36px
    font-size: 2.25rem;
  }

  @media only screen and (min-width: $bp-650) {
    //   46px
    font-size: 2.875rem;
  }
}
