.header {
  font-size: 1.75rem;
  text-transform: uppercase;
  position: relative;
  text-align: center;
}

.border {
  width: 50px;
  height: 2px;
  background-color: #fb3e3e;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}
