@import '../vars.scss';

.features {
  background-color: #f8f9fa;
  text-align: center;

  @media only screen and (min-width: $bp-768) {
    text-align: left;
  }
}

.topColumn {
  margin-bottom: 30px;

  @media only screen and (min-width: $bp-768) {
    margin-bottom: 0;
  }
}

.imageContainer {
  margin-left: auto;
}

.imageContainer svg {
  width: 100%;
  height: 100%;
}

.list {
  list-style: none;
}

.item {
  position: relative;
  font-size: 14px;

  @media only screen and (min-width: $bp-450) {
    font-size: 16px;
  }
}

.item::before {
  content: '';
  top: 50%;
  left: -20px;
  position: absolute;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fb3e3e;

  @media only screen and (min-width: $bp-450) {
    left: 0;
  }
  @media only screen and (min-width: $bp-768) {
    left: -20px;
  }
}

.item:first-of-type {
  margin-bottom: 10px;
}

.item:not(:first-of-type) {
  margin: 10px 0;
}
