.footer {
  background-color: #272a33;

  h4 {
    color: #fff;
    text-transform: capitalize;
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 40px;

    @media only screen and (min-width: 62em) {
    }
  }

  ul a {
    text-decoration: none;
    color: #98a0aa;
    text-transform: capitalize;
    font-size: 14px;
  }

  div {
    color: #98a0aa;
  }

  form {
    position: relative;
  }

  input {
    width: 100%;
    height: 40px;
    padding: 15px;
    background-color: #2e313a;
    border: 1px solid #2e313a;
    outline: none;
    color: #fff;
  }

  button {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #98a0aa;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }

  .payment {
    background-color: #2e313a;
  }

  .payment div {
    text-align: center;
    margin-bottom: 10px;

    @media only screen and (min-width: 48em) {
      margin-bottom: 0;
    }
  }

  img {
    height: 36px;
  }
}
