@import '../vars.scss';

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 60px 0;
  box-shadow: 0 1rem 0.8rem rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;

  @media only screen and (min-width: $bp-768) {
    margin-bottom: 0;
  }
}

.heading4,
.heading6 {
  text-transform: uppercase;
}

.heading4 {
  font-size: 1rem;
}

.heading1 {
  font-size: 2.4rem;
}

.heading6 {
  margin-bottom: 35px;
  font-size: 0.8rem;
  color: #95a0ab;
}

.divider {
  width: 70%;
  height: 1px;
  background-color: #ecf0f5;
}

.plan {
  p {
    font-size: 1rem;
    text-transform: capitalize;
  }

  span {
    color: #f00;
    text-transform: uppercase;
  }
}
