$bp-992: 62em;

.box {
  transform: translateY(0);
  transition: transform 0.3s ease-out;
  position: relative;
  margin-bottom: 60px;

  &:hover {
    transform: translateY(-10px);
  }

  @media only screen and (min-width: $bp-992) {
    margin: 0;
  }

  img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #dee2e6;
    padding: 0.25rem;
  }

  p {
    padding: 60px 20px 20px 20px;
    background-color: #fff;
    color: #9ca6b0;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
  }

  h5 {
    text-align: center;
    font-size: 1rem;
  }

  h5 span {
    color: #9ca6b0;
  }
}
